<!-- templates/base.html -->
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Feed Reader{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'feed_page' %}">Feeds</a></li>
                <li><a href="{% url 'source_list' %}">Sources</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <div id="sidebar">
            <h3>Categories</h3>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'feed_by_category' category.id %}">{{ category.name }}</a></li>
                {% endfor %}
                <a href="{% url 'show_saved_articles' %}"><h2>Saved Articles</h2></a>
            </ul>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Feed Reader</p>
    </footer>
</body>
</html>
