{% extends "base.html" %}
{% block title %}Feed Page
{% endblock %}

{% block content %}
    <h1>Your Feed</h1>
    {% if articles %}
        {% for article_obj in articles %}
            <div class="article {% if article_obj.status == 'read' %}read{% else %}unread{% endif %}">
                <h2>{{ article_obj.article.title }}</h2>
                <img src="{{ article_obj.article.thumbnail_url }}" alt="article image" height="200" width="300"><br>
                <a href="{% url 'article_content' article_obj.article.id %}">Read more</a>
                <p>Source: {{ article_obj.article.source.name }}</p>
                <p>Published: {{ article_obj.article.published_date }}</p>
                <p>Status: {{ article_obj.status|capfirst }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No articles found.</p>
    {% endif %}
{% endblock %}
