<!-- templates/source_list.html -->
{% extends "base.html" %}
{% block title %}Source List{% endblock %}
{% block content %}
    <h1>Sources</h1>
    {% for source in sources %}
        <div class="source">
            <h2>{{ source.name }}</h2>
            <!-- <p>{{ source.url }}</p> -->
            <form method="POST" action="{% url 'subscribe' source.id %}">
                {% csrf_token %}
                <button type="submit">Subscribe</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}
